
<div class="w-full overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
        <div class="w-full mt-12">
            <div class="flex justify-between">
                <p class="text-xl pb-3 flex items-center">
                    <i class="fas fa-list mr-3"></i> Teams
                </p>
                <form class="relative pr-6">                 
                    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    [(ngModel)]="selectedOption" name="selectedOption"  (change)="filterTeams()">
                        <option value="latest">Lateast</option>
                        <option value="all">All</option>
                      </select>
                </form>
            </div>
            <div class="bg-white overflow-auto">
                <table class="min-w-full leading-normal">
                    <thead>
                        <tr>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Team Name
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                participants
                            </th>
                            <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let team of teamShowDto; let i = index" [ngClass]="{'bg-gray-200': i % 2 !== 0}">
                            <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                <div class="flex items-center">
                                    <div class="flex-shrink-0 w-10 h-10">
                                        <img class="w-full h-full rounded-full"
                                            src="{{team.logo}}"
                                            alt="" />
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{team.nameTeam}}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                    <ul class=" flex flex-wrap justify-center items-center gap-2 py-8 px-8" style="  width: calc(50% - 15px);">
                                        <li class=" " *ngFor="let user of team.participants">
                                            <img class="w-12 h-12 rounded-full"
                                            src="{{user.user.urlPicture}}"
                                            title="{{user.user.lastName}} {{user.user.firstName}}" />
                                        </li>

                                    </ul>
                               
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                <div class="flex gap-4 ">
                                    <button class=" bg-green-500 rounded-md p-2 text-white hover:bg-green-200" (click)="navigateToUpdatePage(team.id)" ><i class="fas fa-pen "></i></button>
                                    <button class=" bg-red-500 rounded-md p-2 text-white  hover:bg-red-200"  (click)="deleteTeam(team.id, team.logoPublicId, team.nameTeam)"><i class="fas fa-trash "></i></button>
                                </div>

                            </td>
                        </tr>
                        <tr class="w-full text-3xl text-red-600 font-bold m-12" *ngIf="this.teamShowDto?.length == 0">
                            <p class="p-6">  
                                Teams Not Found
                            </p>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="totalItems"
               [pageSize]="pageSize"
               [pageSizeOptions]="[3, 10, 15]"
               (page)="onPageChange($event)"></mat-paginator>
            </div>
        </div>
    </main>
</div>
