.show-result{
    width: 1038px !important;
}
.show-result .list-search{
    background-color: white !important;
    z-index: 1000 !important;
    width: 1493px !important;
}
.show-result .list-search:hover{
    background-color: rgb(156 163 175) !important;
    color: #ffffff;
    transition: background-color 0.5s ease-out, color 0.5s ease-out; 

}