button:hover {
    transform: scale(1.01);
  }

button:focus {
    outline: none !important;
  }

button:active {
    transform: scale(0.99);
  }

.check-svg {
  -webkit-animation: svgScale 0.5s ease-in-out;
          animation: svgScale 0.5s ease-in-out;
}
.download-arrow {
  transition: transform 0.2s linear;
}
button:hover .download-arrow {
  transform: translate(0, 3px);
}

@-webkit-keyframes svgScale {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }
}

@keyframes svgScale {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }
}

button.download-button {
  min-width: 150 !important;
  min-height: 6px !important;
  margin-bottom: 20px;
}
.download-loader {
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: button-loading-spinner 1s ease 3;
          animation: button-loading-spinner 1s ease 3;
}
@-webkit-keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
    opacity: 1;
  }

  to {
    transform: rotate(1turn);
    opacity: 0;
  }
}
@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
    opacity: 1;
  }

  to {
    transform: rotate(1turn);
    opacity: 0;
  }
}
.button-copy {
  padding-top: 2px;
}
.important{
  font-size: 18px !important;
  margin-left: 20px !important;
}


main-loader {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.main-fader {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.main-fader .loader {
  position: fixed;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
}
.main-fader .loader svg {
  height: 300px;
  display: block;
  margin: 0 auto;
}
.main-fader .loader svg path {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  color: #26a380;
}
.main-fader .loader svg path.path-7 {
  animation-delay: -1s;
}
.main-fader .loader svg path.path-6 {
  animation-delay: -0.875s;
}
.main-fader .loader svg path.path-5 {
  animation-delay: -0.75s;
}
.main-fader .loader svg path.path-4 {
  animation-delay: -0.625s;
}
.main-fader .loader svg path.path-3 {
  animation-delay: -0.5s;
}
.main-fader .loader svg path.path-2 {
  animation-delay: -0.375s;
}
.main-fader .loader svg path.path-1 {
  animation-delay: -0.25s;
}
.main-fader .loader svg path.path-0 {
  animation-delay: -0.125s;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}