<ul class="flex border-b m-10">
    <li class="mb-px mr-1">
      <a routerLink="./teams" routerLinkActive="hover-child-user" class="rounded-r-lg bg-white inline-block py-2 px-4 text-blue-500  hover:text-blue-800  font-semibold  w-64">Teams</a>
    </li>
    <li class="mr-1">
      <a routerLink="./add-team"  routerLinkActive="hover-child-user" class="rounded-r-lg bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold w-64">Add Team</a>
    </li>
  </ul>
  <router-outlet></router-outlet>