<ul class="flex border-b m-10">
    <li class="mb-px mr-1">
      <a routerLink="./users" routerLinkActive="hover-child-user" class="rounded-r-lg bg-white inline-block py-2 px-4 text-blue-500  hover:text-blue-800  font-semibold  w-64">users</a>
    </li>
    <li class="mr-1">
      <a routerLink="./add-users"  routerLinkActive="hover-child-user" class="rounded-r-lg bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold w-64">add users</a>
    </li>
    <li class="mr-1">
      <a routerLink="./add-user"  routerLinkActive="hover-child-user" class="rounded-r-lg bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold w-64">add member </a>
    </li>
  </ul>
  <router-outlet></router-outlet>