

.container {
    margin-top: 20px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
}

.card-title {
    color: #007bff; /* Bootstrap primary color for team names */
}

.list-group-item {
    background-color: hsl(134, 31%, 50%); /* Bootstrap success color for team members */
    color: #ffffff;
    padding: 16px 20px;
}

.referee-name {
    background-color: #3fa458; /* Bootstrap success color for team members */
    color: #ffffff;
}

.captain-name {
    background-color: #30753f; /* Bootstrap success color for team members */
    color: #ffffff;
}

.badge {
    background-color: #dc3545; /* Bootstrap danger color for team numbers */
}