<aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
    <div class="p-6">
        <a href="index.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Y.soccer</a>
       
    </div>
    <nav class="text-white text-base font-semibold pt-3">
        <a routerLink="./home" routerLinkActive="active-nav-link"  class="flex items-center text-white py-4 pl-6 nav-item">
            <i class="fas fa-tachometer-alt mr-3"></i>
            Dashboard
        </a>
        <a  routerLink="./user" routerLinkActive="active-nav-link" class="flex items-center text-white py-4 pl-6 nav-item">
            <i class="fas fa-user mr-3"></i>
            User
        </a>
        <a routerLink="./team" routerLinkActive="active-nav-link"  class="flex items-center text-white py-4 pl-6 nav-item">
            <i class="fas fa-users mr-3"></i>
            Team
        </a>
        <a href="forms.html" class="flex items-center text-white py-4 pl-6 nav-item">
            <i class="fas fa-layer-group mr-3"></i>
            Group
        </a>
        <a routerLink="./rule" routerLinkActive="active-nav-link" class="flex items-center text-white py-4 pl-6 nav-item">
            <i class="fas fa-book mr-3"></i>
            Rule
        </a>
    </nav>
    <a href="#" class="absolute w-full upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4">
        <i class="fas fa-registered mr-3"></i>
        Youcode
    </a>
</aside>
